.users{
    color: #3C6255;
}

.userPhoto{
    width: 100px;
    margin-right: 15px;
}

.userPhoto img{
    width: 100%;
    border-radius: 50%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.userInfo{
    display: flex;
    align-items: center;
    margin: 15px 5px;
}

.pagesContainer{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pages{
    color: #A3BB98;
    margin: 15px;
}

.pages span{
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pages span:hover{
    color: #61876E;
}

.userPublicInfo div{
    margin: 5px;
}

.selectedPage{
    color: #3C6255;
}

.followButton button{
    padding: 7px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color:  #61876E;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.followButton button:hover {
    background-color:  #A3BB98;
}