.header{
    grid-area: h;
    background-color: #FFB100;

    display: flex;
    align-items: center;
}


.header img{
    margin: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #f7e018
}

.loginBlock{
    margin-left: auto;
    margin-right: 50px;
    color: #ffffff;
}

.loginBlock a{
    color: #C58940;
}

.loginBlock a:hover{
    color: #FAEAB1;
}
