.nav{
    grid-area: n;
    background-color: rgb(252, 202, 55);
    padding: 5px;
}

.item a{
    margin: 10px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.item a:hover{
    color: rgb(240, 164, 0);
}

.item .active{
    color: #fff;
}