.nav{
    grid-area: n;
    background-color: #FBC252;
    padding: 5px;
}

.item a{
    margin: 10px;
    color: #C58940;
}

.item a:hover{
    color: #FAEAB1;
}

.item .active{
    color: #fff;
    /* border-bottom: 1px solid #fff; */
}