.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n p";

  grid-template-columns: 1fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: .5rem;

  margin: 0 100px;
}

.app-wrapper-content{
  padding: 10px;
  grid-area: p;
  background-color: rgb(255, 203, 160);
}
