.dialogs{
   min-height: 100%;
   display: grid;
   grid-template-columns: 3fr 10fr;
}

.dialogsItems{
   min-width: 30%;
   margin: 5px;
   padding: 5px;
}

.dialogsItems img{
   width: 50px;
   margin: 10px 10px 0 0;
   border-radius: 50%;
}

.dialog{
   display: flex;
   align-items: center;
   margin: 10px;
}

.dialog a{
   color: #61876E;
   text-decoration: none;
}

.dialog a:hover{
   color: #A3BB98;
}

.messagesItems{
   min-height: 90%;
}

.messagesItems .dialog{
   margin: 15px;
   padding: 0 10px;
}

.messages{
   min-width: 70%;
   margin: 5px;
   padding: 5px 23px;
   border-left: solid 1px #61876E;
   color: #A3BB98;
   /* height: calc(100% - 160px); */
 }

 .messages button{
   padding: 7px;
   border: none;
   border-radius: 6px;
   color: #fff;
   background-color:  #61876E;
   cursor: pointer;
 }

.input{
   height: 50px;
   padding: 10px;
   background-color: #fff;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .messages .input input{
   width: 100%;
   border: none;
   outline: none;
   color: #a3bb98;
   padding: 10px;
}

.messages .input input::placeholder{
   color: #61876e52;
   font-size: 13px;
}