 .dialogs{
    display: grid;
    grid-template-columns: 3fr 10fr;
 }

 .dialogsItems{
    margin: 5px;
    padding: 5px;
 }

 .dialog a{
    color: black;
    text-decoration: none;
 }

 .dialog a:hover{
    color: rgb(240, 164, 0);
}

 .messages{
    margin: 5px;
    padding: 5px 23px;
    border-left: solid 1px black;
 }