 .dialogs{
    display: grid;
    grid-template-columns: 3fr 10fr;
 }

 .dialogsItems{
    margin: 5px;
    padding: 5px;
 }

 .dialog a{
    color: #61876E;
    text-decoration: none;
 }

 .dialog a:hover{
    color: #A3BB98;
}

 .messages{
    margin: 5px;
    padding: 5px 23px;
    border-left: solid 1px #61876E;
    color: #61876E;
 }